.wrapper {
  max-width: 1200px;
}

header nav {
  background-color: #f1f1f1;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #000;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav a:hover {
  border-bottom: 2px solid #555;
}

header h1 {
  margin: 50px 0 25px 0;
  font-size: 35px;
  text-transform: uppercase;
}

.slider {
  margin-top: 40px;
  height: 500px;
}

.slider li {
  display: none;
  height: 100%;
}

.slider li img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider li.active {
  display: block;
}

.slider-nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #616161;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-nav ul li {
  margin: 5px;
  background-color: #616161;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
}

.slider-nav ul li.active {
  background-color: #fff;
}

.slider-nav button {
  color: #616161;
  background-color: #fff;
  border-radius: 50%;
  border: none;
}

.slider-nav .icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.slider-nav .left-arrow:before {
  content: "\f060";
}

.slider-nav .right-arrow:before {
  content: "\f061";
}

.what-we-offer {
  margin: 50px 0;
}

.what-we-offer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-offer h2 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 40px;
  border-bottom: 5px solid #bbbbbb;
}

.what-we-offer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-we-offer ul li {
  padding: 40px 20px;
  font-size: 15px;
}

.what-we-offer ul li h3 {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.what-we-offer ul li:nth-child(1) {
  background-color: #f1f1f1;
}

.what-we-offer ul li:nth-child(2) {
  background-color: #bbbbbb;
}

.what-we-offer ul li:nth-child(3) {
  color: #fff;
  background-color: #616161;
}

.what-we-offer ul li:nth-child(4) {
  color: #fff;
  background-color: #000;
}

.pricing .wrapper {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .wrapper h2 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
}

.pricing .wrapper span {
  font-size: 14px;
  margin: 15px 0 40px 0;
}

.pricing .wrapper > ul {
  margin: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing .wrapper > ul > li {
  border: 1px solid #ccc;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
}

.pricing .wrapper > ul > li h3 {
  padding: 30px 0;
  color: #fff;
  background-color: #000;
  font-size: 25px;
  text-transform: capitalize;
}

.pricing .wrapper > ul > li:nth-child(2) h3 {
  background-color: #616161;
}

.pricing .wrapper > ul > li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.pricing .wrapper > ul > li ul li {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  text-transform: capitalize;
}

.pricing .wrapper > ul > li ul li.price {
  font-size: 14px;
  color: #777;
  text-transform: lowercase;
}

.pricing .wrapper > ul > li ul li.price strong {
  margin-bottom: 15px;
  display: block;
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  font-weight: 400;
}

.pricing .wrapper > ul > li ul li:last-child {
  border: none;
  background-color: #f1f1f1;
}

.pricing .wrapper > ul > li ul li:last-child a {
  padding: 10px 20px;
  color: #fff;
  background-color: #4caf50;
  font-size: 14px;
}

.pricing .wrapper > ul > li ul li:last-child a:hover {
  background-color: #6ec071;
}

.who-we-are {
  margin: 50px 0;
}

.who-we-are .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who-we-are h2 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 40px;
  border-bottom: 5px solid #bbbbbb;
}

.who-we-are ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who-we-are ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -webkit-box-shadow: 0px 0px 10px #bbbbbb;
          box-shadow: 0px 0px 10px #bbbbbb;
  font-size: 15px;
}

.who-we-are ul li .desc {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.who-we-are ul li .desc * {
  margin: 10px 0;
}

.who-we-are ul li .desc h3 {
  font-size: 20px;
  text-transform: capitalize;
}

.who-we-are ul li .desc span {
  text-transform: capitalize;
  color: #777;
}

.who-we-are ul li .desc a {
  padding: 10px 0;
  background-color: #f1f1f1;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.who-we-are ul li .desc a:hover {
  background-color: #d8d8d8;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 40px;
  border-bottom: 5px solid #bbbbbb;
}

.contact form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contact form .form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 10px 0;
  text-transform: capitalize;
}

.contact form .form-element input {
  padding: 10px;
  border: none;
  -webkit-box-shadow: inset 0 0 2px #888;
          box-shadow: inset 0 0 2px #888;
  background: #fff;
}

.contact form .form-element input:focus {
  border: none;
  outline: none;
}

.contact form button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.contact form button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

footer {
  margin-top: 70px;
  padding: 30px 0;
  background-color: #f1f1f1;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper > * {
  margin: 15px 0;
}

footer h4 {
  font-size: 20px;
  text-transform: capitalize;
}

footer button {
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer button:before {
  padding-right: 10px;
  font-family: "Font Awesome 5 Free";
  content: "\f062";
  font-weight: 900;
}

footer button:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

footer a {
  text-decoration: underline;
}

footer .icon {
  font-family: "Font Awesome 5 Brands";
  font-size: 0;
}

footer .icon:before {
  font-size: 25px;
}

footer .facebook:before {
  content: "\f082";
}

footer .instagram:before {
  content: "\f16d";
}

footer .snapchat:before {
  content: "\f2ab";
}

footer .pintrest:before {
  content: "\f231";
}

footer .twitter:before {
  content: "\f099";
}

footer .linkedIn:before {
  content: "\f0e1";
}
/*# sourceMappingURL=style.css.map */