$bgDarkGrey: #616161;
$bgGrey: #bbbbbb;
$bgLightGrey: #f1f1f1;

@mixin heading {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: capitalize;
}

@mixin heading-underline {
  @include heading();
  margin-bottom: 40px;
  border-bottom: 5px solid $bgGrey;
}

header {
  nav {
    background-color: $bgLightGrey;
    ul {
      display: flex;
      justify-content: space-between;
    }
    li {
      flex-grow: 1;
      padding: 20px;
      text-align: center;
    }
    a {
      color: #000;
      text-transform: capitalize;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #000;
      }
    }
  }

  h1 {
    margin: 50px 0 25px 0;
    font-size: 35px;
    text-transform: uppercase;
  }
}

.slider {
  margin-top: 40px;
  height: 500px;
  li {
    display: none;
    height: 100%;
    img {
      //   width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  li.active {
    display: block;
  }
}

.icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.left-arrow:before {
  content: "\f060";
}

.right-arrow:before {
  content: "\f061";
}

.slider-nav {
  padding: 10px;
  display: flex;
  background-color: $bgDarkGrey;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      margin: 5px;
      background-color: $bgDarkGrey;
      border: 1px solid #fff;
      width: 15px;
      height: 15px;
    }
    li.active {
      background-color: #fff;
    }
  }
  button {
    color: $bgDarkGrey;
    background-color: #fff;
    border-radius: 50%;
    border: none;
  }
}

.what-we-offer {
  margin: 50px 0;
  .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  h2 {
    @include heading-underline();
  }
  ul {
    display: flex;
    li {
      padding: 40px 20px;
      font-size: 15px;
      h3 {
        font-size: 22px;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
    }
    li:nth-child(1) {
      background-color: $bgLightGrey;
    }
    li:nth-child(2) {
      background-color: $bgGrey;
    }
    li:nth-child(3) {
      color: #fff;
      background-color: $bgDarkGrey;
    }
    li:nth-child(4) {
      color: #fff;
      background-color: #000;
    }
  }
}
